<footer class="motopress-wrapper footer">
    <div class="container">
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="57aef7fb6aa81">
                <div class="copyright">

                    <div class="row">
                        <div class="span12 social-nets-wrapper" data-motopress-type="static" data-motopress-static-file="static/static-social-networks.php">
                            <ul class="social">
                                <li><a href="https://www.facebook.com/Cake-Art-1290433314409708/" title="facebook"><img src="~/Content/images/facebook.png" alt="facebook"></a></li>
                                <li><a href="#" title="twitter"><img src="~/Content/images/twitter.png" alt="twitter"></a></li>
                                <li><a href="#" title="google"><img src="~/Content/images/google.png" alt="google"></a></li>
                                <li><a href="#" title="rss"><img src="~/Content/images/feed.png" alt="rss"></a></li>
                                <li><a href="#" title="youtube"><img src="~/Content/images/youtube.png" alt="youtube"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
                            <div id="footer-text" class="footer-text">
                                 <a href="https://www.linkedin.com/in/jahanalem/" title="Linkedin website" class="site-name" target="_blank">by Jahan developed</a>  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
